* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  background-color: #263546; }

.flex-justify-center {
  display: flex;
  justify-content: center; }
