// COLOURS
$color-grey-1: #dfe0e1;
$color-grey-2: #c9cacb;
$color-grey-3: #939393;
$color-grey-4: #434242;

$color-primary-light: #7ed56f;

$color-white: #fff;
$color-black: #000;

$color-grey-cv: #263546;
$color-orange-cv: #eeb14e;
$color-orange-cv-2: #f2d375;

// FONT
$default-font-size: 1.6rem;
