.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 2rem;
}

.projects-card {
  @include card;

  img {
    width: 100%;
    display: block;
  }

  &__text {
    padding: 1rem;
    font-size: 2rem;
  }
}
