.flex-justify-center {
  display: flex;
  justify-content: center;
}

.u-center-text {
  text-align: center;
}

.u-padding-top {
  padding-top: 10vh;
}

.u-padding-top-bottom-big {
  padding: 20vh 0 25vh 0;
}
